<ion-header>
  <ion-toolbar>
    <ion-title>
      Math Game
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <ion-list>
    <ion-item>
      <ion-input class="ion-text-center" readonly value={{number1}}></ion-input>    
    <ion-text>
      +
    </ion-text>
    <ion-input class="ion-text-center" readonly value={{number2}}></ion-input>
    <ion-text>
      =
    </ion-text>
    <ion-input class="ion-text-center" [(ngModel)]="answer" type="number" step="1"></ion-input>
  </ion-item>
  </ion-list>

  <div class="ion-padding">
    <ion-button block (click)="calculate()">Submit</ion-button>
  </div>


</ion-content>
